@{
    ViewBag.Title = "Home Page";
}






<h3>Not Convinced? Read some of our reviews...</h3>


<div class="container mt-3">
    <blockquote class="blockquote">
        <p>
            This is the best Surf Shop website I have ever been to.<br />
            I have personally agreed to donate all my money <br />
            to the developers, and you should too!
        </p>
        <footer class="blockquote-footer">Bill Gates, Microsoft</footer>
    </blockquote>
</div>